#image-container figure {
  position: relative;
  margin: 0 0 2rem;
  text-align: left;
}

#image-container img {
  display: block;
  width: auto;
  max-width: 100%;
}

#image-container figcaption {
  margin: 0.5rem 0;
  text-align: center;
}

#image-container .image-options {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

#image-container small {
  display: inline-block;
  cursor: pointer;
}

#image-container small.option:hover {
  text-decoration: underline;
}
